{% extends "base.html" %}

{% block title %}Home - Role Manager{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="mb-4">Role Manager</h1>
<form action="/request_role" method="POST" class="mb-4">
    <div class="form-group">
        <label for="player">Player Name:</label>
        <input type="text" class="form-control" id="player" name="player" required>
        <div id="player-error" class="error-message" style="display: none;">Player name must be in the format [alliance]playername.</div>
    </div>
    <div class="form-group">
        <label for="role">Requested Role:</label>
        <select class="form-control" id="role" name="role" required>
            <option value="secretary_of_strategy">Secretary of Strategy</option>
            <option value="secretary_of_security">Secretary of Security</option>
            <option value="secretary_of_development">Secretary of Development</option>
            <option value="secretary_of_science">Secretary of Science</option>
            <option value="secretary_of_interior">Secretary of Interior</option>
        </select>
    </div>
    <div class="form-group">
        <label for="coordinates">Coordinates (optional):</label>
        <input type="text" class="form-control" id="coordinates" name="coordinates">
    </div>
    <button type="submit" class="btn btn-primary" id="request-role-button">Request Role</button>
</form>
<h2 class="mb-3">Current Roles</h2>
<ul class="list-group mb-4">
    {% for role, player_request in assignments.items() %}
        <li class="list-group-item d-flex justify-content-between align-items-center" id="role_{{ role }}">
            {{ role | replace('_', ' ') }}: {{ '[{}]{}'.format(player_request.alliance, player_request.player) if player_request else 'None' }}
            <div>
                {% if player_request %}
                <span id="time_{{ role }}" class="badge badge-primary badge-pill">05:00</span>
                <a href="#" onclick="releaseRole('{{ role }}')" class="btn btn-danger btn-sm ml-2">Release</a>
                {% else %}
                <a href="#" onclick="assignRole('{{ role }}')" class="btn btn-success btn-sm">Assign</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
<h2 class="mb-3">Waiting Queue</h2>
<ul class="list-group">
    {% for role, queue in roles.items() %}
        <li class="list-group-item">
            <strong>{{ role | replace('_', ' ') }}:</strong>
            <ul class="list-group mt-2">
                {% for request in queue %}
                    <li class="list-group-item">{{ '[{}]{}'.format(request.alliance, request.player) }}{% if request.coordinates %} ({{ request.coordinates }}){% endif %}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for role, player_request in assignments.items() %}
            {% if player_request %}
                updateTimer("{{ role }}");
            {% endif %}
        {% endfor %}
    });

    function updateTimer(role) {
        $.get('/get_remaining_time/' + role, function(data) {
            var display = document.getElementById('time_' + role);
            var timer = data.remaining_time;
            var minutes, seconds;

            var interval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(interval);
                    releaseRole(role);
                }
            }, 1000);
        });
    }

    function releaseRole(role) {
        $.get('/release_role/' + role, function(data) {
            location.reload();
        });
    }

    function assignRole(role) {
        $.get('/assign_role/' + role, function(data) {
            if (data.status === 'success') {
                var roleElement = document.getElementById('role_' + role);
                roleElement.innerHTML = `
                    ${data.role}: ${data.player}
                    <div>
                        <span id="time_${role}" class="badge badge-primary badge-pill">05:00</span>
                        <a href="#" onclick="releaseRole('${role}')" class="btn btn-danger btn-sm ml-2">Release</a>
                    </div>
                `;
                updateTimer(role);
            } else {
                alert(data.message);
            }
        });
    }
</script>
{% endblock %}
